body {
    background-image: url(./img/BackEcoWebPW.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

#ecomsur-logo {
    margin-left: 140px;
    padding: 0;
}

h1 {
    /* margin-top: 45px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: #346b66;
    transform: scaleY(1.2);
}

h2 {
    margin-top: 70px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
}

#empty {
    display: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
}

form {
    display: flex;
    justify-content: center;
}

#search-country {
    width: 500px;
    height: 50px;
    border: 1px solid #848484;
    border-right: none;
    border-radius: 9px 0px 0px 9px;
    background-color: white;
    color: #c3c7cb;
    padding-left: 15px;

}

#search-submit {
    width: 100px;
    background-color: #5fa8ff;
    color: white;
    border: 1px solid #848484;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}

#content {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 900px;
    height: 470px;
    margin-top: 50px;
    line-height: 25px;
}

#col {
    display: none;
    width: 55%;
    height: 200px;
    float: left;
    justify-content: center;
    align-items: center;
}

#col-2 {
    display: none;
    width: 25%;
    float: left;
    justify-content: center;
    margin-left: -65px;
}

#col-3 {
    width: 20%;
    float: left;
    justify-content: center;
    margin-left: 10px;
}

#flag {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 175px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li,
ul p {
    list-style: none;
    display: block;
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
}

#country-name,
#capital-name,
#region-name,
#subregion-name,
#language-name,
#currency,
#currency-logo {
    font-weight: bold;
}

#country,
#capital,
#region,
#subregion,
#language,
#currency-name,
#currency-symbol {
    margin: 0 auto;
    color: white;
    font-weight: normal;
}

ul p {
    font-weight: bold;
}

#limitations {

    padding: 0;
    color: white;
}

footer {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

#airbnb-logo,
#despegar-logo {
    width: 100px;
    height: 30px;
    margin-bottom: 13px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}


#spinner{
    display: none;
    margin: 0 auto;
    border: 15px solid #848484;
    border-top: 15px solid #5fa8ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}



/* Responsive */

@media screen and (max-width: 1200px) {
    #ecomsur-logo {
        margin-left: 12px;
    }

}


@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    h1 {
        font-size: 28px;
        margin-top: 45px;
        text-align: center;
    }

    #ecomsur-logo {
        margin-left: 18px;
    }

    #content {
        margin-left: -20px;
        width: 100%;
    }

    #search-country {
        margin-left: -50px;
    }

    #col {
        width: 100%;
    }

    #col-2 {
        width: 50%;
        margin-left: 120px;
    }

    #col-3 {
        width: 40%;
        margin-left: -50px;
    }
}

@media screen and (max-width: 760px) {
    #ecomsur-logo {
        width: 128px;
        height: 48px;
    }

    h1 {
        margin-top: 25px;
        margin-left: 10px;
        font-size: 25px;
    }

    #search-country {
        width: 250px;
        height: 50px;
    }

    #search-submit {
        width: 80px;
        height: 50px;
    }

    #col {
        width: 50%;
        float: left;
    }

    #flag {
        width: 200px;
        height: 100px;
    }

    #col-2 {
        float: left;
        margin-left: 2px;
        width: 45%;
    }

    #col-3 {
        width: 100%;
        margin-left: 35px;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        margin-right: 10px;
    }

    #search-country {
        margin-left: 0px;
    }

    #col {
        width: 100%;
        height: 100px;
        margin-bottom: 8px;
    }

    #flag {
        display: block;
        margin: 0 auto;
    }

    #col-2 {
        margin-left: 51px;
        width: 40%;
    }

    #col-3 {
        width: 30%;
        float: left;
    }

    #airbnb-logo,
    #despegar-logo {
        margin-top: 20px;
    }

}

@media screen and (max-width: 340px) {
    h1 {
        margin: 0 auto;
        margin-top: 20px;
        margin-left: -10px;
        text-align: center;
    }

    h2 {
        margin-top: 40px;
        margin-left: -12px;
        text-align: center;
    }

    #search-country {
        margin-left: -20px;
        width: 200px;
        height: 50px;
    }

    #search-submit {
        width: 80px;
        height: 50px;
    }

    #content {
        margin-top: 25px;
    }

    #col {
        width: 100%;
        height: 100px;
        margin-bottom: 8px;
    }

    #flag {
        display: block;
        margin: 0 auto;
    }

    #col-2 {
        margin-left: 45px;
        width: 40%;
    }

    #col-3 {
        float: left;
        width: 40%;
        margin-left: 18px;
    }
}