body{
    background-image: url(./img/BackEcoWebPW.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgrey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

#ecomsur-logo{
    margin-left: 140px;
    padding: 0;
}

h1{
    /* margin-top: 45px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: #346b66;
    transform: scaleY(1.2);
}
h2{
    margin-top: 70px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: white;
    text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
}

form{
    display: flex;
    justify-content: center;
}

#search-country{
    width: 500px;
    height: 50px;
    border: 1px solid #848484;
    border-right: none;
    border-radius: 9px 0px 0px 9px;
    background-color: white;
    color: #c3c7cb;
    padding-left: 15px;

}

#search-submit{
    width: 100px;
    background-color: #5fa8ff;
    color: white;
    border: 1px solid #848484;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}

#content{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 900px;
    height: 470px;
    margin-top: 50px;
    line-height: 25px;
}

#col{
    width: 55%;
    height: 200px;
    float: left;
    justify-content: center;
    align-items: center;
}

#col-2{
    width: 25%;
    float: left;
    justify-content: center;
    margin-left: -65px;
}

#col-3 {
    width: 20%;
    float: left;
    justify-content: center;
    margin-left: 10px;
}

#flag{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 175px;
}

ul{
    margin: 0;
    padding: 0;
}

ul li, ul p {
    list-style: none;
    display: block;
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
}

#country-name, #capital-name, #region-name, #subregion-name, #language-name, #currency, #currency-logo{
    font-weight: bold;
}

#country, #capital, #region, #subregion, #language, #currency-name, #currency-symbol{
    margin: 0 auto;
    color: white;
    font-weight: normal;
}

ul p{
    font-weight: bold;
}

#limitations{
    padding: 0;
}

footer{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

#airbnb-logo, #despegar-logo{
    width: 100px;
    height: 30px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

/* Responsive */

@media screen and (max-width: 1000px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    h1{
        margin: 0 auto;
        margin-top: 45px;
        text-align: center;
    }
    h2{
        
    }
}